img {
  display: block;
  max-width: 100%;
}

.copyright {
  margin: 0;
  text-align: right;
}

.logo__link {
  font-family: "Plaster", sans-serif;
  font-size: 42px;
}

.logo__link:hover {
  text-decoration: none;
}

.user-area {
  text-align: right;
  font-size: 18px;
}

.article__title {
  font-family: "Pattaya", sans-serif;
  font-size: 30px;
}

.article__body {
  font-family: "Marck Script", cursive;
  font-size: 24px;
}

.article__image {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 600px;
  max-height: 450px;
}

.page {
  font-family: "Neucha", cursive;
}

.page__container {
  display: grid;
  grid-template-rows: fit-content(0) auto fit-content(0);
  grid-row-gap: 50px;
  min-height: 100vh;
}

.page__header {
  padding: 30px 0;
}

.page__footer {
  padding: 30px 0;
}

.page__article {
  margin-bottom: 100px;
}

.page__article:last-child {
  margin-bottom: 0;
}

.page__table {
  margin: 30px 0;
}

.page__table td,
.page__table th {
  vertical-align: middle;
}